# Database
DATABASE_URL=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Email Configuration
MAIL_USER=
MAIL_PASS=

# SendGrid
SENDGRID_API_KEY=

# Resend (Alternative to SendGrid)
RESEND_API_KEY=

# App Configuration
NODE_ENV=development

